* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

/* header start */

.header {
  border-bottom: 1px solid gray;
  height: 60px;
  overflow: hidden;
}
.header-block {
  display: inline-block;
  float: left;
}

.logo {
  width: 15%;
  color: black;
  font-size: 25px;
  padding: 5px 10px;
}

.logo::first-letter {
  color: red;
}

.menu {
  width: 60%;
}

.menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-item {
  display: inline-block;
  text-transform: uppercase;
  margin-right: 5px;
}

.menu-item > a {
  text-decoration: none;
  color: gray;
  display: inline-block;
  padding: 8px 12px;
}
.menu-item > a:focus {
  outline: none;
}
.menu-item > a:hover {
  color: pink;
}

.menu-item-active {
  border-bottom: 2px solid red;
}

.menu-item-active > a {
  color: red;
}

.search-block {
  width: 25%;
  padding: 5px 0;
  text-align: right;
}

.search-input {
  height: 35px;
  width: 200px;
  border: 1px solid green;
  border-radius: 5px;
  font-size: 20px;
  color: red;
  padding: 5px 10px;
}
/* header end */

/* main start */
.description {
  border-bottom: 1px solid gray;
  padding: 25px 0 15px;
  overflow: hidden;
  margin-bottom: 50px;
}

.description-text {
  width: 80%;
  display: inline-block;
  float: left;
  padding-right: 50px;
}
.description-text > h2 {
  margin: 0;
  margin-bottom: 15px;
}
.description-text > p {
  margin: 0;
  text-align: justify;
}
.description-button-wrapper {
  width: 20%;
  display: inline-block;
  float: right;
  text-align: right;

}
.description-button {
  height: 40px;
  background: red;
  border-width: 0;
  border-radius: 0;
  padding: 0 15px;
  color: white;
  cursor: pointer;
}
.description-button:hover {
  background: brown;
}

.tabs-menu-wrapper {
  border-bottom: 2px solid red;
  margin-bottom: 10px;
}
.tabs-menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.tabs-menu-item {
  display: inline-block;
  padding: 5px 10px;
  margin-right: 5px;
}
.tabs-menu-item.active {
  background: red;
  color: white;
}
.tabs-contents {
  vertical-align: top;
}
.tab-image,
.tab-content {
  display: inline-block;
}
.tab-image {
  width: 20%;
}
.tab-content {
  width: 79%;
  padding-left: 15px;
}
/* main end */

/* footer start */
.footer {
  height: 50px;
  background: lightgray;
  color: white;
}

.copyright {
  margin-right: 15px;
}

.footer-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}
.footer-menu-item {
  display: inline-block;
  margin-right: 5px;
}
.footer-menu-item > a {
  color: red;
  text-decoration: none;
}
.footer-menu-item > a:hover {
  color: black;
  text-decoration: underline;
}
/* footer end */